body{
    background-color:#F9E6E8;
    margin-left: 20%;
    margin-right: 20%;
    border: 4px dotted #C4707F;
    padding: 10px 10px 10px 10px;
    font-family: sans-serif;
    }
    h1.titulo{
    
    color: #D4899B;
    font-family: verdana;
    text-shadow: 4px 4px 4px rgb(185, 128, 82);
    font-size: 30pt;
    text-align: center;
    }
    h1{
    color: #A84D62;
    font-family: verdana;
    text-shadow: 2px 2px 2px rgb(185, 128, 82)
    }
    h2{
    color: #C4707F;
    text-shadow: 2px 2px 2px #000000;
    }
    img{
    border: 4px solid #F5D0D5;
    object-fit: cover;
    transform: translateX(50%);
    }
    
    p{ color:#E8B4B8; }
    text-shadow: 2px 2px 4px deeppink;
    text-shadow: 1px 1px 2px black;
    text-shadow: 0px 0px 20px lightpink;